.menu_child{
    display: none;
    transform-origin: 5% top;
    animation:hovermenu ease .3s ;
  }
  .menu_child_2{
    transform-origin: top;
    display: none;
    animation:hovermenu ease .3s ;
  }
  .item_menu:hover .menu_child{
    display: block;
  }
  .item_menu_2:hover .menu_child_2{
    display: block;
  }
  /* .banner_product{
    transition: ease-in-out .3s;
  } */
  .banner_product::before{
    content: "";
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
  }
  .banner_product:hover::before{
    transition: ease-in-out .5s;
    left: 50%;
    right: 50%;
    width: 0;
    background-color: rgba(255,255,255,0.2);
  }
  .banner_product::after{
    content: "";
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
  }
  .banner_product:hover::after{
    transition: ease-in-out .5s;
    top: 50%;
    bottom: 50%;
    height: 0;
    background-color: rgba(255,255,255,0.2);
  }
  .btn_product:hover .icon_product{
    color: white;
  }
  .price_product::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    transition: all ease .5s;
  }
  .product:hover .price_product::before{
    opacity: 1;
  }
  .product:hover .price_product{
    transform:translateY(20px);
    transition:all ease .5s;
  }
  .interact_product{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: none;
    transition: all ease .5s;
  }
  .product:hover .interact_product{
    display: block;
    opacity: 1;
    animation: hovermenu ease .5s;
    transform-origin: 90% bottom;
  }
  .account_menu{
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: top;
    z-index: 5;
    display: none;
    animation:hovermenu ease .3s ;
  }
  .account:hover .account_menu{
    display: block;
  }

  .hidden-slide {
    display: none !important;
}
  @keyframes hovermenu{
    from{
      transform: scale(0);
    }
    to{
      transform: scale(1);
    }
  }